<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>

    <nav th:replace="fragments :: navigation"></nav>

    <form class="form" method="post">
        <h1 th:text="${title}">Default Title</h1>
        <label class="form-label" for="cheeseName">Cheese</label>
        <input id="cheeseName" class="form-field" type="text" name="cheeseName" />
        <label class="form-label" for="description">Description</label>
        <textarea id="description" class="form-textarea" name="description"></textarea>
        <input class="form-btn" type="submit" value="Add Cheese" />
    </form>

</body>
</html>