<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>

<nav th:replace="fragments :: navigation"></nav>

<div class="flex">
    <form class="form" method="post">
        <h3 th:text="${title}">Default Title</h3>

        <label class="form-label" for="cheese">Cheese</label>

        <label th:each="cheese : ${cheeses}">
            <span th:text="${cheese.key}"></span>
            <input type="checkbox" th:value="${cheese.key}" name="cheeses" />
        </label>

        <!--<select name="cheeseKey">-->
        <!--    <option th:each="cheese : ${cheeses}" th:value="${cheese.key}" th:text="${cheese.key}"></option>-->
        <!--</select>-->

        <input class="form-btn" type="submit" value="Remove Cheese" />
    </form>
</div>

</body>
</html>